<div class="container" fade-in>

    <div id="hero-container" class="container">

        <div class="hero-unit">

            <img ng-src="img/grilled-feta.png" />
            <h1>grilled feta</h1>
            <p>A Google App Engine seed with Jersey for REST, custom Bootstrap styling, and AngularJS</p>

            <br>
            <p>
                <small>This project serves as a starting point for web applications built for Google App Engine.  It integrates GAE with Jersey for RESTFul webservices, and AngularJS for client side MVC.  The Angular app is bundled with Angular-UI, Angular-Strap, Bootstrap, and jQuery, along with examples of angular services, directives, controllers, and filters.  Log in above to see additional features, or browse the components section...</small>
            </p>

            <br>

            <div class="pull-left">
                <section class="clearfix">
                    <a class="btn btn-large btn-primary" href="https://github.com/robertjchristian/grilled-feta"><span><img ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub</span></a>
                </section>
            </div>

        </div>

    </div>

</div>